$offWhite  : #f5f5f5;
$green     : #27ae60;
$darkBlue  : #34495e;
$lighter   : rgba(255,255,255,.3);
$dark      : rgba(0,0,0,.1);
$darker    : rgba(0,0,0,.3);
$titleFont : 'Raleway', sans-serif;
$bodyFont  : 'Inika', serif;

$openFont  : 'Open Sans', sans-serif;